<nav class="relative flex flex-row w-screen h-[10vh] px-8 justify-between items-center bg-rosa border-b-3 border-b-azure font-monster z-20">

    <div class="flex flex-row items-center gap-x-3 cursor-pointer select-none hover:opacity-90 transition-all duration-130"
    (click)="managerService.toggleMenu()">
        <div class="flex w-14 h-14 bg-icon bg-cover rounded-full"></div>

        <div class="flex flex-col leading-tight text-white font-display font-title">
            <span class="text-xl">{{managerService.getGerente().nome}}</span>
            <span class="text-sm opacity-80">Gerente</span>
        </div>

        <mat-icon class="text-white">{{managerService.getIMO() ? 'expand_less' : 'expand_more'}}</mat-icon>
    </div>

    <div class="flex flex-row gap-x-4">
        <a routerLink="/manager" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="!bg-white"
        class="flex justify-center items-center px-6 py-2 bg-azure border-2 border-black rounded-full text-black font-title text-lg hover:scale-105 transition-all duration-130">
            CADASTROS
        </a>

        <a routerLink="/manager/managers" routerLinkActive="!bg-white"
        class="flex justify-center items-center px-6 py-2 bg-azure border-2 border-black rounded-full text-black font-title text-lg hover:scale-105 transition-all duration-130">
            GERENTES
        </a>

        <a routerLink="/manager/reports" routerLinkActive="!bg-white"
        class="flex justify-center items-center px-6 py-2 bg-azure border-2 border-black rounded-full text-black font-title text-lg hover:scale-105 transition-all duration-130">
            RELATÓRIOS
        </a>

        <a routerLink="/manager/clients" routerLinkActive="!bg-white"
        class="flex justify-center items-center px-6 py-2 bg-azure border-2 border-black rounded-full text-black font-title text-lg hover:scale-105 transition-all duration-130">
            CLIENTES
        </a>
    </div>

    <!-- dropdown -->
    <div class="absolute left-8 top-[10vh]">
        <app-manager-menu></app-manager-menu>
    </div>

</nav>
